        /* HEADER */
.header {
    padding: 97px 50px 96px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.navigation {
    justify-self: start;
}

.navigation-list {
    list-style: circle;
    display: flex;
    gap: 28px;
    padding: 0;
    margin: 0;
}

.navigation-item {
    font-weight: 400;
    font-size: 18px;
}

.navigation-item:first-child {
    list-style: none;
}

.navigation-item:first-child .navigation-link {
    text-decoration: none;
}

.navigation-link {
    text-transform: lowercase;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.logo-header {
    justify-self: center;
}

.logo-header-img {
    display: block;
    width: 148px;
}

.contacts {
    font-weight: 400;
    font-size: 18px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-style: normal;
    justify-self: end;
}

.contacts-link {
    text-transform: lowercase;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

         /* COVER */
.cover {
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    background-image: url("../images/lotus-flower.png");
    min-height: 757px;
    position: relative;
}
.overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

                /* ниже наверное лишний класс, подумываю его убрать*/
.cover-content {
    position: relative;
    z-index: 2;
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 1);

}

.cover-title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.span-style:nth-child(1) {
    display: block;
    text-align: left;
    
}

.span-style:nth-child(2) {
    display: block;
    text-align: center;
    transform:translateX(18px) translateY(12px);
}

.span-style:nth-child(3) {
    display: block;
    text-align: right;
    transform:translateX(36px) translateY(32px);
}

.cover-description {
    display: flex;
    align-items: center;
    gap: 107px;
    margin-top: 142px;
}

.cover-text {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 20px;
    line-height: 28px;
    text-transform: uppercase;
    white-space: nowrap;
}

.button {
    padding: 11px 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;

    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

        /* LOTS*/
.lots {
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;      
}

.lots-item {
    min-height: 596px;
    width: 334px;
}

.lots-card {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 596px;
    height: 100%;
    width: 334px;
}

.lots-card-film {
    background-image: url("../images/photo.png");
}

.lots-card-book {
    background-image: url("../images/photo.jpg");
}

.lots-card-art {
    background-image: url("../images/photooo.png");
}

.lots-link {
    height: 100%; 
}

.lots-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 596px;
    padding: 48px 40px;
}

.lots-card-title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.lots-card-text {
    font-weight: 400;
    font-size: 20px;
    text-transform: none;
    color: rgba(255, 255, 255, 1);
    margin-top: auto;
}

.lots-link-more {
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    display: block;
    padding-left: 40px;
    padding-top: 30px;
}

        /* ABOUT */

        /*
        .about{ 
        padding: 0 24px;
        margin-bottom: 180px;
        display: grid; grid-template-columns: 334px 1fr; gap: 28px;
        } 
        .about-image{ 
        margin-left: 47px; 
        margin-top: 35px; 
        width: 240px; 
        } 
        .about-content{ 
        display: flex; 
        flex-direction: column; 
        padding-top: 136px; gap: 100px; 
        } 
        .about-title{ 
        font-weight: 700; 
        font-size: 40px; 
        text-transform: uppercase; 
        } 
        .about-text{ 
        font-weight: 400; 
        font-size: 20px; 
        display: flex; 
        flex-direction: column; 
        gap: 28px; 
        }   
        есть такой вариант - здесь идеальное попадание по пикселям, 
        но как я поняла задание требует варианта ниже */
.about {
    padding: 0 24px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 26px;
}

.about-image {
    margin-left: 47px;
    margin-top: 35px;
    width: 240px;
}

.about-content {
    display: flex;
    flex-direction: column;
    min-height: 449px;
    margin-top: 140px;
     max-width: 688px;  
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about-text {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 28px;
}
        /* FOOTER */
.footer {
    padding: 0 50px 82px 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
}

.navigation-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-footer-link {
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.navigation-footer-item:first-child .navigation-footer-link {
    text-decoration: none;
}

.socials {
    display: flex;
    gap: 48px;         
    list-style: none;
    align-items: center;
    justify-content: center;
}

.socials-item {
    height: 48px;
    width: 48px;
}

.socials-link {     
    width: 48px;
    height: 48px;
}

.contacts-footer {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-style: normal;
    justify-self: end;
    max-width: 264px;
}

.contacts-footer-link {
    text-transform: lowercase;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}
